.mat-card {
    width: 300px;
    margin: 2rem auto;
    text-align: center;
    height: 200px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*placeholder de arriba*/
    color: gray !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #ccc !important;
    height: 9px;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #D4001B !important;
}

.mat-form-field.mat-form-field {
    font-size: 14px;
}