<form [formGroup]="forma" (ngSubmit)="consultar()">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-sm-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Seleccione regional</mat-label>
                                    <mat-select formControlName="drpRegionales" id="drpRegionales">
                                        <mat-option>--Seleccione zona--</mat-option>
                                        <mat-option *ngFor="let r of regionales" value="{{ r.Cod_Regional }}">{{ r.Nom_Regional }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field class="full-width">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="txtFechaIni">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <button mat-raised-button (click)="consultar()" color="primary" class="full-width">
                                Consultar
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal" *ngIf="cargando">
        <div class="form-group">
            <div class="col-sm-12">
                <app-loading mensaje="Consultando reporte" tipo="success"></app-loading>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Descargue</b>
                    </div>
                    <div class="panel-body" style="overflow: scroll;">
                        <table id="tblCola" name="tblCola" class="tabla tabla-hover table-bordered">
                            <tr style="font-size:14px; font-weight: bold;" align="center">
                                <td>Tipo</td>
                                <td>Despachadas</td>
                                <td>Descargadas</td>
                                <td>Nov descargue</td>
                                <td>Diferencia</td>
                                <td>Nov solucionadas</td>
                                <td>Disp reparto</td>

                            </tr>
                            <tr style="font-size:14px" align="center">
                                <td><b>Urbano</b></td>

                            </tr>
                            <tr style="font-size:14px" align="center">
                                <td><b>Cadenas</b></td>
                                <td>11</td>
                                <td>11</td>
                                <td>11</td>
                                <td>11</td>
                                <td>11</td>
                                <td>11</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>